.fm-nav a {
    color: #fff;
    padding: 15px;
    }

.fm-nav .disabled {
    color: rgb(255, 255, 255, .5);
}

.fm-nav a:hover {
    background: rgb(255, 255, 255, .1);
}

#itz{
    height: 75px;
    width: 75px;
}

#tnm{
    height: 75px;
    width: 150px;
}